.site-footer {
  justify-content: space-between;
  line-height: 1.5;
  flex-direction: row;
  height: 350px;
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  background: url('../../images/dark-wood@2x.png');
  background-size: contain;
  // flex-direction: row;
  align-items: left;
  color: white;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  width: 100%;
  padding: 3rem;
}

.footer-container {
  // align-items: center;
  color: white;
  margin: 0 180px;
}

.footer-logo {
  width: 225px;
  // flex-grow: 2;
  // margin: 70px;
  img {
    width: 285px;
  }
}

h3 {
  color: #d99054;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: $font__body, sans-serif;
}

.footer-logo {
  height: 80px;
  width: 80px;

  padding: 20px;
  margin-left: 60px;
}

.contact-container .days-of-operation-footer {
  padding-left: 0px;
  color: white;
  font-size: 18px;
  font-weight: bold;

  // width: 33%;
}
a {
  color: white;
}

.contact-container-footer {
  color: white;
}

.fab ::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400px;
  padding: 10px;
}

.social-links-footer {
  font-size: 1.25rem;
  padding: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.footer-container {
  flex-direction: row;
}

.social {
  padding: 25px;
  width: 10px;
  padding: 0px;
  display: inline-block;
  color: white;
  line-height: 2;
  font-weight: 100;
}

.social li {
  white-space: nowrap;
  display: inline-block;
}

.social-text {
  display: none;
}

.fab {
  margin: 10px;
}

li:hover {
  color: #e2574c;
}
.container {
  font-family: $font__body, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 10px;
}
.site-footer {
  justify-content: space-between;
  line-height: 1.5;
  flex-direction: row;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  background: url('../../images/dark-wood@2x.png');
  background-size: contain;
  align-items: left;
  color: white;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  width: 100%;
  padding: 3rem;
}

.footer-container {
  color: white;
}

.footer-logo {
  width: 225px;

  img {
    width: 285px;
  }
}

h3 {
  color: #d99054;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: $font__body, sans-serif;
}

.footer-logo {
  padding: 0px;
  display: flex;
}

.contact-container .days-of-operation {
  padding-left: 20px;
  color: white;
  font-size: 18px;
  padding: 20px;
}
.footer-text {
  color: white;
}

.hours {
  padding: 0px;
  margin-right: 300px;
}

span.days-of-operation {
  font-weight: bold;
}

.fab ::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400px;
  padding: 10px;
  color: white;
}

.social-links {
  font-size: 1.25rem;
  padding: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.footer-container {
  flex-direction: row;
}

.social {
  padding: 25px;
  width: 10px;
  padding: 0px;
  display: inline-block;
  color: white;
  line-height: 2;
  font-weight: 100;
}

.social li {
  white-space: nowrap;
  display: inline-block;
}

.social-text {
  display: none;
}

.widget-area .fa {
  margin: 10px;
  color: $color__text-main;
}

.fa-envelope-footer {
  color: white;
}

.fa-phone-footer {
  color: white;
}

li:hover {
  color: #e2574c;
}
.container {
  font-family: $font__body, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 10px;
}
