/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

//targets

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  // border: 1px solid;
  // border-color: #ccc #ccc #bbb;
  // border-radius: 3px;
  // background: #e6e6e6;
  // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
  //   inset 0 15px 17px rgba(255, 255, 255, 0.5),
  //   inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  @include font-size(1);
  line-height: 2;
  color: white;
  border: none;
  background-color: transparent;
  font-family: $font__body;
  cursor: text;

  // padding: .6rem 1rem .4rem;
  // text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

  &:hover {
    border-color: transparent;
    // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8),
    //   inset 0 15px 17px rgba(255, 255, 255, 0.8),
    //   inset 0 -5px 12px rgba(0, 0, 0, 0.02);
  }

  &:active,
  &:focus {
    border-color: transparent;
  }
}

.comments-area input[type='button'],
.comments-area input[type='submit'] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  padding: 0.6rem 1rem 0.4rem;
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;

  &:focus {
  }
}

input[type='search'] {
  border: none;
}

.grey input[type='search'] {
  background-color: transparent;
  color: white;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 3px;
  align-items: left;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

.wpcf7-form {
  text-align: left;
  margin: 80px;
}

.wpcf7-form-control {
  background-color: $color__background-body;
  border: 1px solid $color__background-pre;
}

.wpcf7 {
  font-size: 1em;
  font-family: $font__body, sans-serif;
  text-transform: uppercase;
  color: #2f1339;
  font-size: 0.9em;
  margin-bottom: 1em;

  .wpcf7-submit {
    background-color: $color__font-green;
    color: white;
    font-size: 1em;
    font-family: $font__body, sans-serif;
    text-transform: uppercase;
    padding: 0.75em 1.5em;
  }

  .wpcf7-textarea {
    width: 100%;
    max-width: 600px;
  }
}

.search-form {
}

.error404 {
  .content-area {
    display: flex;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
}

// .search-form {
//   background-color: transparent;
//   color: white;
//   box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5),
//     inset 0 2px 5px rgba(0, 0, 0, 0.15);
//   border: 1px solid;
//   // width: 80px;
//   // height: 80px;
// }
