.site-header-navigation {
  display: flex;
  justify-content: space-between;
}

.hfeed {
  .site-header {
    width: 100%;
    // position: fixed;
    height: 80px;

    &.grey {
      background-color: rgba(0, 0, 0, 0.5);
      nav ul li a {
        color: $color__background-body;
        &:visited {
          color: $color__background-body;
        }
      }
    }

    .site-branding {
      margin-left: 20px;
      a {
      } // a
    } // .site-branding

    .nav-menu {
      margin-top: 4px;
      text-shadow: #323232;
      font-family: $font__body, sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
    }

    nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      // margin-right: 20px;
      margin-top: 10px;
      ul {
        display: flex;

        li {
          padding-right: 10px;
          list-style: none;
          a {
            color: $color__font-green;
            text-decoration: none;
            &:visited {
              color: $color__font-green;
            }
          }
        }
      }
    }
  }
}

// Logo
.mini-logo {
  height: 70px;
  width: 70px;
  &--white {
    display: none;
  }
  &--green {
    display: block;
  }
} // .mini-logo

.home,
.page-id-43 {
  .mini-logo--white {
    display: block;
  }
  .mini-logo--green {
    display: none;
  }
}
