.site-header-navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu-main-menu-container {
  margin-right: 40px;
}

.hfeed {
  .site-header {
    width: 100%;
    height: 70px;
    color: $color__font-green;
    border-bottom: 1px solid lightgray;

    &.grey {
      width: 100%;
      height: 100px;
      background-color: transparent;
      padding-top: 40px;
      border-bottom: 1px solid transparent;
      color: white;

      nav ul li a {
        color: $color__background-body;
        &:visited {
          color: $color__background-body;
        }
      }
    }

    .site-branding {
      margin-left: 20px;
      // a
    } // .site-branding

    .nav-menu {
      margin-top: 4px;
      text-shadow: #323232;
      font-family: $font__body, sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
    }

    nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-top: 10px;
      ul {
        display: flex;
        color: $color__font-green;

        li {
          padding-right: 10px;
          list-style: none;
          color: $color__font-green;

          a {
            color: $color__font-green;
            text-decoration: none;
            &:visited {
              color: $color__font-green;
              border: none;
            }
          }
        }
      }
    }
  }
}

// Logo
.mini-logo {
  height: 38%;
  width: 100%;
  padding-left: 40%;
  &--white {
    display: none;
  }
  &--green {
    display: block;
  }
} // .mini-logo

.home,
.page-id-43 {
  .mini-logo--white {
    display: block;
  }
  .mini-logo--green {
    display: none;
  }
}
