// .entry-title {
//   position: absolute;
//   // top: 20px;
//   // left: 10px;
//   h2 {
//     text-decoration: none;
//     background-color: #248a83;
//     color: #fff;
//     font-size: 2.1rem;
//     left: 0;
//     // padding: ;
//     position: absolute;
//     margin-top: 0;
//   }
//   img {
//     height: auto;
//     max-width: 100%;
//   }
// }

// h2.entry-title-shop {
//   text-decoration: none;
//   background-color: #248a83;
//   color: #fff;
//   font-size: 1.5rem;
//   // position: absolute;
//   margin-top: 2.25rem;
//   padding: 0.75rem 1.5rem;
//   position: relative;
//   margin-top: 2.25rem;
//   max-width: 75%;
//   top: 0;
//   font-family: $font__body;
// }

.entry-meta {
  position: absolute;
  color: white;
}

.fp-adventures-blog-tag {
  color: white;
}

.entry-content p {
  color: $font__body;
  font-size: 1rem;
  text-align: left;
}

.blog .entry-header .entry-meta,
.blog .entry-header .entry-title {
  position: absolute;
  background: #248a83;
  padding: 10px;
  color: #fff;
  padding-top: inherit;
}

.blog {
  text-align: left;
  .site-content {
    max-width: 1440px;
    // margin: 80px;
  }
  .entry-header {
    position: relative;
    .entry-title {
      background: $color__font-green;
      color: white;
      width: 80%;
    }
    .entry-meta {
      position: absolute;
      right: 0;
      bottom: 0;
      background: $color__font-green;
      color: white;
    }
    img {
      vertical-align: bottom;
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }
  }
}

// journal templates

.entry-title {
  top: 0px;
  left: 0px;
  text-align: left;
  &:hover {
  }

  a {
    text-decoration: none;
    // position: absolute;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    font-family: $font__body, sans-serif;
  }
  img {
    height: auto;
    max-width: 80%;
  }
}

// entry-header-journal

// entry-title-journals
