// .entry-title {
//   position: absolute;
//   top: 20px;
//   left: 10px;
//   a {
//     text-decoration: none;
//     background-color: #248a83;
//     color: #fff;
//     font-size: 2.1rem;
//     left: 0;
//     // padding: ;
//     position: absolute;
//     margin-top: 2.25rem;
//   }
//   img {
//     height: auto;
//     max-width: 100%;
//   }
// }
// .entry-meta {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   color: white;
// }

.entry-content p {
  color: black;
}

.blog {
  text-align: left;
  .site-content {
    max-width: 1120px;
    margin: auto;
  }
  .entry-header {
    position: relative;
    .entry-title {
      position: absolute;
      top: 0;
      left: 0;
      background: $color__font-green;
      color: white;
    }
    .entry-meta {
      position: absolute;
      bottom: 10px;
      right: 0;
      background: $color__font-green;
      color: white;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

// journal templates

// .entry-title {
//   // position: absolute;
//   top: 0px;
//   left: 0px;

//   a {
//     text-decoration: none;
//     background-color: transparent;
//     color: white;
//     font-size: 2.1rem;
//     left: 0;
//     // padding: ;
//     // position: absolute;
//     // margin-top: 2.25rem;
//   }
//   img {
//     height: auto;
//     max-width: 100%;
//   }
// }

// entry-header-journal

// entry-title-journals
