// /*--------------------------------------------------------------
// # Page Templates
// --------------------------------------------------------------*/
// /* Front page */
// .site-information {
//   // flex-position:
//   // align-self: baseline;
// }

.container {
  max-width: 1120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container p {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 5.5rem 0 0;
}

.widget-area {
  width: 100%;
}

.fp-journal-entries-row {
  display: flex;
}
.fp-journal-entry {
  display: flex;
  width: 33.333%;
  border: 1px solid black;
}

.fp-adventures {
  display: flex;
}

.fp-adventures-entry {
  width: 25%;
  // z-index: 1;
}

.fp-banner {
  background-size: cover, cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: top center;
}

.product-type-list {
  display: flex;
  flex-wrap: wrap;
}

// product single

.single-product {
  .product {
    display: flex;
  }
}
.left-col {
  width: 50%;
}

.right-col {
  width: 50%;
  text-align: left;
}

////find us page

.entry-title {
  // clear: both;
  font-family: $font__body, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #404040;
  position: relative;
  text-align: left;
  padding-left: 75px;
  padding-top: 55px;
}
