/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* Front page */

/* Take out and use in variables later */

.footer-container {
  //   display: flex;
  color: white;
}

// .hero {

// }

// // .text-logo-overlay {
// //   /*size: cover;*/
// //   position: relative;
// //   /*height: 10em;*/
// //   display: flex;
// //   margin-top: 118px;
// //   justify-content: center;
// //   z-index: 100;
// // }

// /* background: url(./images/logos/inhabitent-logo-full.svg), no-repeat; */
// // }

// .site-information {
//   align-self: baseline;
// }

.footer-block {
  width: 25%;
  padding: 60px;
  display: flex;
  align-items: flex-start;
}

.site-information {
    align-content: baseline;
  }

  .content-area {
    width: 100%;
  }

  .widget-area {
    width: 100%; */
/* } */

a {
display: flex;
flex-direction: flex-start;
justify-content: space-between;
 padding: 50px;
color: #248a83;
  text-decoration: none;
  &:hover {
    color: purple;
}
 }

// Front page
.fp-journal-entries {
  display: flex;
}
.fp-journal-entry {
  width: 33.333%;
  border: 1px solid black;
}

.fp-adventures {
  display: flex;
  //   width: 25%;
  //   border: 1px solid black;
}

.fp-adventures-entry {
  width: 25%;
  z-index: 1;
}

.site-footer {
  display: flex;
  flex-wrap: wrap;
  background: url('../../images/dark-wood@2x.png');
  background-size: contain;
  flex-direction: row;
  color: white;
  font-size: 15px;
  line-height: 1.5;
}

ul {
  padding: 0;
  // list-style: none;
  float: right;
}

.fp-banner {
  // position: relative;
  background-image: linear-gradient(rgba(black, 0.3), rgba(black, 0.3)),
    url('../../images/home-hero.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.fp-banner-logo {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

body {
  color: black;
}

h2 {
  text-align: center;
  color: black;
}

a {
  text-decoration: none;
}

.mini-logo {
  // position: fixed;
  // height: 45px;
  // width: 40px;
  // background: white;
  // opacity: 0.5%;
}

.product-type-list {
  display: flex;
  flex-wrap: wrap;
}

.site-content {
  width: 100%;
  height: 100%;
  padding: 0px;
}
