// /*--------------------------------------------------------------
// # Page Templates
// --------------------------------------------------------------*/
// /* Front page */
// .site-information {
//   // flex-position:
//   // align-self: baseline;
// }

site-main {
  margin: 0 auto;
  overflow: hidden;
  width: 60%;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.container p {
  // text-align: left;
  margin-right: auto;
  margin-left: auto;
}

// .page-content,
// .entry-content,
// .entry-summary {
//   margin: 5.5rem 0 0;
// }

.widget-area {
  width: 100%;
}

.fp-journal-entries-row {
  display: flex;
}
.fp-journal-entry {
  display: flex;
  width: 33.333%;
  border: 1px solid black;
}

.fp-adventures {
  display: flex;
}

.fp-adventures-entry {
  width: 25%;
  z-index: 1;
}

.fp-banner {
  background-size: cover, cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: top center;
}

.product-type-list {
  display: flex;
  flex-wrap: wrap;
}

// product single

.single-product {
  .product {
    display: flex;
  }
}
.left-col {
  width: 50%;
}

.right-col {
  width: 50%;
  text-align: left;
}

////find us page

h1.entry-title {
  // clear: both;
  font-family: $font__body, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #404040;
  position: absolute;
  text-align: left;
  padding-left: 152px;
  padding-top: 55px;
}

/////404////

.site-header-navigation {
}

.widget_recent_entries {
  border: none;
}

.widget_archive {
  border: none;
}

.content-area-container {
  width: 65%;
}
