.shop-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  // border-top: 1px dotted #404040;
}

.shop-container-grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  // height: 1000px;
  // padding-top: 200px;
  // padding-bottom: 85px;
  // border-top: 1px dotted #404040;

  .product {
    width: 100%;
    height: 100%;
    .product-img-wrap {
      height: 300px;
    }
    .wp-post-image {
      object-fit: cover;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .product-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: black;
      overflow: hidden;
    }
  }
}

.product-info::after {
  content: '................................';
  position: absolute;
}

article {
  margin: 0;
  padding: 0;
  // hei 150px;

  // border: 1px solid #ddd;
}

.shop-name {
  display: flex;
  padding: 0px;
  align-content: center;
  padding: 0px;
  color: #404040;
}

.shop-page-title {
  color: #404040;
  text-align: center;
  text-transform: uppercase;
  font-family: $font__body, sans-serif;
}

///targets the text

.taxonomies-navigation {
  display: flex;
  justify-content: center;
  //   width: 1%;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  color: color;

  a {
    // font-size: 18px;
    font-family: $font__body, sans-serif;
    text-transform: uppercase;
    list-style: none;
    color: $color__font-green;
    font-size: 1.2rem;

    .archive ul {
      color: $color__text-screen;
      text-shadow: none;
      text-decoration: none;
      list-style: none;
    }
  }
}

.entry-title-shop {
  text-align: center;
  a {
    color: black;
  }

  // margin: 0;
  padding: 0px;
  // a {
  //   &:hover {
  //     color: black;
  //     border: none;
  //   }
}

.products-container {
  display: flex;
}

.product-type-list {
  color: black;
}

.wp-post-image {
  // border: 1px solid #ddd;
}

.entry-header-shop .wp-post-image {
  height: 200px;
  border-bottom: 2px solid #e1e1e1;
  padding: 20px;
  height: 100px;
  margin: 5px;
}
