/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
  border-left: $color__background-pre 3px dotted;
  margin: $base__space-unit;
  padding: 10px;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

.widget-title {
  color: #2f1339;
  font-size: $base__space-unit;
  text-align: left;
  font-weight: bold;
  line-height: 1.25;
}

.widget-p {
  color: $color__font-green;
}

.widget_archive a {
  color: $color__font-green;
  text-decoration: none;
  display: inline;
}

.widget-p-address {
  color: $color__text-main;
}

/* Search widget. */

.widget_search .search-submit {
  // display: none;
}

.fa {
  color: $color__text-main;
}
