// .wp-block-image {
//   display: flex;
//   justify-content: flex-end;
// }

.entry-title-about h1 {
  .page-template-default {
    color: white;
    text-align: center;
    font-size: 3em;
    padding: 20px;
    font-family: 'Novecento Sans Web', sans-serif;
  }
}
// .container {
//   width: 50%;
//   height: 100px;
//   height: 50vw;
// }

// .entry-title-about {
//   text-align: center;
// }

header {
  color: white;
}
