/*
 * about page
 */
.about-content-area {
  width: 100%;
  margin: 0 auto;
}

.page-template-default {
  .fp-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
  }
  h1.entry-title-about {
    color: white;
    text-align: center;
    font-size: 3em;
    padding: 20px;
    font-family: 'Novecento Sans Web', sans-serif;
  }
}

.about-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
  // margin: 9% 14%;
}

.entry-title-about {
  color: white;
  text-align: center;
  font-size: 3em;
  padding: 20px;
  font-family: 'Novecento Sans Web', sans-serif;
  margin-top: 5%;
}

.entry-content-about {
  margin: 0 20%;
  line-height: 2em;
  font-size: 1em;
  text-align: left;
  max-width: 800px;
}

.entry-header-about {
  padding-top: 4%;
}
